<a href="https://colab.research.google.com/github/Sayan3sarkar/ANN-Churn-Rate-Keras/blob/master/ANN_Churn_Rate_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Description

A Europe based bank has been noticing surprisingly high <a href="https://en.wikipedia.org/wiki/Churn_rate">churn rates</a> .The bank has prepared a spreadsheet having various details of each of it's customers over the past 6 months and wants to analyse,using this dataset, why the customers are ending their association with the bank.

We prepare an <b>Aritificial Neural Network(ANN)</b> using <a href="http://keras.io/">Keras API</a> to predict which customers are at higher chance of leaving the bank, and present that information to the banl itself so that it can interact with those customers to find their exact reasons for leaving

# Import necessary libraries

In [0]:
import numpy as np
import pandas as pd

# Loading the Dataset and splitting into dependent and independent variables

<h3> Upload Dataset </h3>

In [0]:
from google.colab import files

In [0]:
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling (1).csv

In [0]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [0]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

### Here features such as $Row number, CustomerId, Surname$ do not help in deciding whether the customer will be associated with the bank or not. So we don't consider these in our feature matirx

In [0]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [0]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [0]:
y

array([1, 0, 1, ..., 1, 1, 0])

 From the above output cells, we clearly find that <b>Geography</b> and <b>Gender</b> are categorical variables. So encoding has to be done to convert the categorical variables to numerical values. We use <b>LabelEncoder</b> to perform this. Since,the dependent variable <b>y</b> is binary, we do not need to perform label encoding on it

In [0]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X1 = LabelEncoder()
X[:, 1] = labelencoder_X1.fit_transform(X[:, 1])
labelencoder_X2 = LabelEncoder()
X[:, 2] = labelencoder_X2.fit_transform(X[:, 2])

What we can see that there is no relational order between our categorical variables, so we need to perform <b>onehot encoding</b> to create dummy variables in rder to enforce relational order. We apply one hot encoding to only <b>Geography</b> as it has 3 categories ,namely <b>France, Germany</b> and <b>Spain</b>. <b>Gender</b> has only 2 categories.

In [0]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features = [1]) #Since we create dummy variables only for index 1, i.e, Geography
X = onehotencoder.fit_transform(X).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [0]:
X = X[:, 1:]# there are 3 dummy variables corresponding to 3 countries. We delete one dummy variable, the first coloumn to avoid falling into dummy variable trap

In [0]:
X

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [0.0000000e+00, 0.0000000e+00, 7.0900000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [1.0000000e+00, 0.0000000e+00, 7.7200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [0.0000000e+00, 0.0000000e+00, 7.9200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

## Splitting dataset into training and test set. We allot a 80-20 ratio for training to test set size

In [0]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
X_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [0]:
X_test

array([[ 1.75486502, -0.57369368, -0.55204276, ...,  0.64259497,
         0.9687384 ,  1.61085707],
       [-0.5698444 , -0.57369368, -1.31490297, ...,  0.64259497,
        -1.03227043,  0.49587037],
       [-0.5698444 ,  1.74309049,  0.57162971, ...,  0.64259497,
         0.9687384 , -0.42478674],
       ...,
       [-0.5698444 ,  1.74309049, -0.74791227, ...,  0.64259497,
        -1.03227043,  0.71888467],
       [ 1.75486502, -0.57369368, -0.00566991, ...,  0.64259497,
         0.9687384 , -1.54507805],
       [ 1.75486502, -0.57369368, -0.79945688, ...,  0.64259497,
        -1.03227043,  1.61255917]])

# Making the ANN

## Importing Keras and other requisite modules

In [0]:
import keras

In [0]:
from keras.models import Sequential #For initializing ANN

In [0]:
from keras.layers import Dense # for adding layers to ANN
#from keras.layers import Dropout

## Initializing ANN

In [0]:
classifier =  Sequential()

In [0]:
#Adding first hidden layer
classifier.add(Dense(units = 6, input_dim = 11, activation = 'relu', kernel_initializer = 'uniform'))
#classifier.add(Dropout(p = 0.1))
#Adding Second hidden layer
classifier.add(Dense(units = 6, activation = 'relu', kernel_initializer = 'uniform'))
#classifier.add(Dropout(p = 0.1))
#Ading output layer
classifier.add(Dense(units = 1, activation= 'sigmoid', kernel_initializer = 'uniform'))

In [0]:
#Compiling ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Fitting ANN to training set

In [0]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4958 - acc: 0.7957
Epoch 2/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4299 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4257 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4217 - acc: 0.7976
Epoch 5/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4188 - acc: 0.8221
Epoch 6/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4163 - acc: 0.8252
Epoch 7/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4149 - acc: 0.8290
Epoch 8/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4132 - acc: 0.8307
Epoch 9/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4120 - acc: 0.8312
Epoch 10/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4109 - acc: 0.8316
Epoch 11/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4100 - acc: 0.8330
Epoch 12/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4091 - acc: 0.8344
Epoch 13/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4085 - acc: 0.8354
Epoch 14/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4074 - acc: 0.8331
Epoch 15/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.4072 - acc: 0.8346
Epoch 16/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4066 - acc: 0.8345
Epoch 17/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4064 - acc: 0.8349
Epoch 18/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4057 - acc: 0.8347
Epoch 19/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4053 - acc: 0.8347
Epoch 20/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4055 - acc: 0.8356
Epoch 21/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4047 - acc: 0.8354
Epoch 22/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4046 - acc: 0.8341
Epoch 23/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4045 - acc: 0.8345
Epoch 24/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4041 - acc: 0.8345
Epoch 25/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4040 - acc: 0.8351
Epoch 26/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4040 - acc: 0.8347
Epoch 27/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4033 - acc: 0.8355
Epoch 28/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4032 - acc: 0.8355
Epoch 29/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4035 - acc: 0.8347
Epoch 30/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4031 - acc: 0.8336
Epoch 31/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4032 - acc: 0.8350
Epoch 32/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4028 - acc: 0.8354
Epoch 33/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4025 - acc: 0.8346
Epoch 34/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4025 - acc: 0.8350
Epoch 35/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4023 - acc: 0.8352
Epoch 36/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4022 - acc: 0.8356
Epoch 37/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4025 - acc: 0.8340
Epoch 38/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4021 - acc: 0.8340
Epoch 39/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4017 - acc: 0.8346
Epoch 40/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4018 - acc: 0.8347
Epoch 41/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4021 - acc: 0.8357
Epoch 42/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4020 - acc: 0.8361
Epoch 43/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4013 - acc: 0.8342
Epoch 44/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4021 - acc: 0.8356
Epoch 45/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4018 - acc: 0.8331
Epoch 46/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4016 - acc: 0.8354
Epoch 47/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4017 - acc: 0.8359
Epoch 48/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4014 - acc: 0.8350
Epoch 49/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4014 - acc: 0.8346
Epoch 50/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4016 - acc: 0.8352
Epoch 51/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4010 - acc: 0.8330
Epoch 52/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4012 - acc: 0.8351
Epoch 53/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4013 - acc: 0.8359
Epoch 54/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4010 - acc: 0.8345
Epoch 55/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4011 - acc: 0.8349
Epoch 56/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4012 - acc: 0.8349
Epoch 57/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4012 - acc: 0.8347
Epoch 58/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4010 - acc: 0.8340
Epoch 59/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4010 - acc: 0.8362
Epoch 60/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4013 - acc: 0.8336
Epoch 61/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.4007 - acc: 0.8354
Epoch 62/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.4011 - acc: 0.8351
Epoch 63/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4009 - acc: 0.8346
Epoch 64/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4011 - acc: 0.8354
Epoch 65/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4006 - acc: 0.8337
Epoch 66/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4005 - acc: 0.8349
Epoch 67/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4008 - acc: 0.8350
Epoch 68/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4004 - acc: 0.8341
Epoch 69/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4010 - acc: 0.8356
Epoch 70/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4003 - acc: 0.8339
Epoch 71/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4006 - acc: 0.8349
Epoch 72/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4007 - acc: 0.8345
Epoch 73/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4007 - acc: 0.8347
Epoch 74/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4008 - acc: 0.8346
Epoch 75/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4003 - acc: 0.8365
Epoch 76/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4006 - acc: 0.8332
Epoch 77/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4007 - acc: 0.8374
Epoch 78/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4010 - acc: 0.8351
Epoch 79/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4007 - acc: 0.8346
Epoch 80/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.4006 - acc: 0.8342
Epoch 81/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4006 - acc: 0.8357
Epoch 82/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4003 - acc: 0.8346
Epoch 83/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4004 - acc: 0.8339
Epoch 84/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4000 - acc: 0.8346
Epoch 85/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4008 - acc: 0.8342
Epoch 86/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4009 - acc: 0.8351
Epoch 87/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4002 - acc: 0.8356
Epoch 88/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4003 - acc: 0.8355
Epoch 89/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4006 - acc: 0.8352
Epoch 90/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4004 - acc: 0.8360
Epoch 91/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4003 - acc: 0.8364
Epoch 92/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4006 - acc: 0.8351
Epoch 93/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4007 - acc: 0.8345
Epoch 94/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.3993 - acc: 0.8347
Epoch 95/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4004 - acc: 0.8344
Epoch 96/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.4001 - acc: 0.8350
Epoch 97/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.4007 - acc: 0.8341
Epoch 98/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4006 - acc: 0.8356
Epoch 99/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4004 - acc: 0.8364
Epoch 100/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4004 - acc: 0.8347

# Making predictions and evaluating the model

## Predicition on test set

In [0]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

## Confusion Matrix

In [0]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1536,   59],
       [ 256,  149]])

## From above confusion matrix we can clearly detemine that our prediction accuracy was ((1536+149)/2000)* 100 = 84.25%

We now test accuracy by giving details of a single customer into our ANN. Cutomer Details are as follows:

<b>Geography: France</b>

<b>Credit Score: 600</b>

<b>Gender: Male</b>

<b>Age: 40 years old</b>

<b>Tenure: 3 years</b>

<b>Balance: 60000</b>

<b>Number of Products: 2</b>

<b>Does this customer have a credit card ? Yes</b>

<b>Is this customer an Active Member: Yes</b>

<b>Estimated Salary: 50000</b>

In [0]:
dataset

      RowNumber  CustomerId  ... EstimatedSalary  Exited
0             1    15634602  ...       101348.88       1
1             2    15647311  ...       112542.58       0
2             3    15619304  ...       113931.57       1
3             4    15701354  ...        93826.63       0
4             5    15737888  ...        79084.10       0
5             6    15574012  ...       149756.71       1
6             7    15592531  ...        10062.80       0
7             8    15656148  ...       119346.88       1
8             9    15792365  ...        74940.50       0
9            10    15592389  ...        71725.73       0
10           11    15767821  ...        80181.12       0
11           12    15737173  ...        76390.01       0
12           13    15632264  ...        26260.98       0
13           14    15691483  ...       190857.79       0
14           15    15600882  ...        65951.65       0
15           16    15643966  ...        64327.26       0
16           17    15737452  ...         5097.67       1
17           18    15788218  ...        14406.41       0
18           19    15661507  ...       158684.81       0
19           20    15568982  ...        54724.03       0
20           21    15577657  ...       170886.17       0
21           22    15597945  ...       138555.46       0
22           23    15699309  ...       118913.53       1
23           24    15725737  ...         8487.75       0
24           25    15625047  ...       187616.16       0
25           26    15738191  ...       124508.29       0
26           27    15736816  ...       170041.95       0
27           28    15700772  ...        38433.35       0
28           29    15728693  ...       100187.43       0
29           30    15656300  ...        53483.21       0
...         ...         ...  ...             ...     ...
9970       9971    15587133  ...       119377.36       0
9971       9972    15721377  ...       166472.81       0
9972       9973    15747927  ...       171552.02       0
9973       9974    15806455  ...       157474.10       0
9974       9975    15695474  ...        13549.24       0
9975       9976    15666295  ...       196526.55       1
9976       9977    15656062  ...        84419.78       0
9977       9978    15579969  ...        24991.92       0
9978       9979    15703563  ...       191608.97       0
9979       9980    15692664  ...         2988.28       0
9980       9981    15719276  ...        99595.67       0
9981       9982    15672754  ...        53445.17       1
9982       9983    15768163  ...       115146.40       1
9983       9984    15656710  ...       151325.24       0
9984       9985    15696175  ...        51695.41       0
9985       9986    15586914  ...        96833.00       0
9986       9987    15581736  ...        34047.54       0
9987       9988    15588839  ...         1914.41       0
9988       9989    15589329  ...        49337.84       0
9989       9990    15605622  ...       179436.60       0
9990       9991    15798964  ...        53667.08       0
9991       9992    15769959  ...        69384.71       1
9992       9993    15657105  ...       195192.40       0
9993       9994    15569266  ...        29179.52       0
9994       9995    15719294  ...       167773.55       0
9995       9996    15606229  ...        96270.64       0
9996       9997    15569892  ...       101699.77       0
9997       9998    15584532  ...        42085.58       1
9998       9999    15682355  ...        92888.52       1
9999      10000    15628319  ...        38190.78       0

[10000 rows x 14 columns]

In [0]:
X

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [0.0000000e+00, 0.0000000e+00, 7.0900000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [1.0000000e+00, 0.0000000e+00, 7.7200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [0.0000000e+00, 0.0000000e+00, 7.9200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

### On comparing <i>X</i> and <i>dataset</i> , we find that <i>France</i> corresponds to 0,0. <i>Spain</i> corresponds to 0,1. <i>Germany</i> corresponds to 1,0. Also  <i>Gender</i>, 0 is <i>female</i> and 1 is <i>male</i>

In [0]:
new_pred = classifier.predict(sc.transform(np.array([[0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))
new_pred = (new_pred > 0.5)
new_pred

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[False]])

# Evaluating the ANN using k-fold cross validation

In [0]:
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier

In [0]:
def create_ANN():
    model = Sequential()
    model.add(Dense(units = 6, input_dim = 11, activation = 'relu', kernel_initializer = 'uniform'))
    model.add(Dense(units = 6, activation = 'relu', kernel_initializer = 'uniform'))
    model.add(Dense(units = 1, activation= 'sigmoid', kernel_initializer = 'uniform'))
    model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return model

In [0]:
classifier1 = KerasClassifier(build_fn = create_ANN, batch_size = 10, epochs = 100)

In [0]:
from sklearn.model_selection import cross_val_score

In [0]:
accuracies = cross_val_score(classifier1, X_train, y_train, cv = 10, n_jobs = -1)

In [0]:
accuracies.mean()

0.8502499943599104

In [0]:
accuracies.std()

0.013984365291565616

# The above 2 cells clearly indicate that our model's accuracy is 85.02% on an average, and it has a variance of 13.98%